In [1]:
import pandas as pd

# Load your Excel file
df = pd.read_excel(r"C:\Users\smm931389\Desktop\Fitment_Decision\new_data\ESS-Hiring- Skill level Row data_Masked- ML.xlsx", sheet_name='Hiring Data-Final')
df.head()

,Sr. No,Candidate Name,Email-id,Highest Qualification,Total Experience (In Years),Relevant Experience (In Years),Date of Joining,Employment Type,Job Location,Job Level (Grade),...,Billability,Skill Tagging,Skill Family,Skill Name,Candidate's Current CTC (Pre TTL Last CTC),Offer in Hand,Project Role,Offered CTC,Approvals,Client
0,1,Take dummy,Take dummy,B.Tech,6.446575,6.446575,2023-09-16,Full Time,Pune,L2,...,Yes,NaN,0,AUTOSAR,1500000.0,1625000.0,AUTOSAR Engineer,1525000.0,NaN,Open
1,2,Take dummy,Take dummy,B.Tech,7.246575,7.246575,2023-11-02,Full Time,Pune,L2,...,Yes,NaN,0,V&V Engineer,1050000.0,1825000.0,Embedded AutoSAR developers,1725000.0,NaN,Open
2,3,Take dummy,Take dummy,B.Tech,12.146575,12.146575,2023-10-25,Full Time,Pune,L2.2,...,IP,NaN,0,V&V Engineer,1250000.0,2225000.0,System Engineer,2125000.0,NaN,Open
3,4,Take dummy,Take dummy,B.Tech,12.246575,12.246575,2023-10-11,Full Time,Pune,L1.2,...,Yes,NaN,0,AUTOSAR,1000000.0,1825000.0,HW Engineer,1725000.0,NaN,Volvo
4,5,Take dummy,Take dummy,B.Tech,18.246575,18.246575,2023-10-27,Full Time,Pune,L2.2,...,Yes,NaN,0,Embedded Developer,1800000.0,2225000.0,HW Engineer,2125000.0,NaN,Volvo

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337 entries, 0 to 336
Data columns (total 21 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Sr. No                                      337 non-null    int64
 1   Candidate Name                              337 non-null    object
 2   Email-id                                    337 non-null    object
 3   Highest Qualification                       337 non-null    object
 4   Total Experience (In Years)                 337 non-null    float64
 5   Relevant Experience (In Years)              337 non-null    float64
 6   Date of Joining                             337 non-null    datetime64[ns]
 7   Employment Type                             337 non-null    object
 8   Job Location                                337 non-null    object
 9   Job Level (Grade)                           337 non-null    object
 10  Long Open Position                          329 non-null    object
 11  Billability                                 337 non-null    object
 12  Skill Tagging                               178 non-null    object
 13  Skill Family                                329 non-null    object
 14  Skill Name                                  335 non-null    object
 15  Candidate's Current CTC (Pre TTL Last CTC)  325 non-null    float64
 16  Offer in Hand                               337 non-null    float64
 17  Project Role                                329 non-null    object
 18  Offered CTC                                 337 non-null    float64
 19  Approvals                                   178 non-null    object
 20  Client                                      337 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(1), object(14)
memory usage: 55.4+ KB

In [3]:

# Apply skill tagging logic based on actual INR value (not in lakhs)
def assign_skill_tagging(ctc):
    if pd.isna(ctc):
        return None
    elif ctc < 700000:
        return "Base"
    elif 700000 <= ctc < 1200000:
        return "Niche"
    else:
        return "Super-niche"

In [4]:
# Create a new Skill Tagging column
# Apply logic **only** where Skill Tagging is missing
df['Skill Tagging'] = df.apply(
    lambda row: assign_skill_tagging(row['Offered CTC']) if pd.isna(row['Skill Tagging']) else row['Skill Tagging'],
    axis=1
)

df.head(10)

,Sr. No,Candidate Name,Email-id,Highest Qualification,Total Experience (In Years),Relevant Experience (In Years),Date of Joining,Employment Type,Job Location,Job Level (Grade),...,Billability,Skill Tagging,Skill Family,Skill Name,Candidate's Current CTC (Pre TTL Last CTC),Offer in Hand,Project Role,Offered CTC,Approvals,Client
0,1,Take dummy,Take dummy,B.Tech,6.446575,6.446575,2023-09-16,Full Time,Pune,L2,...,Yes,Super-niche,0,AUTOSAR,1500000.0,1625000.0,AUTOSAR Engineer,1525000.0,NaN,Open
1,2,Take dummy,Take dummy,B.Tech,7.246575,7.246575,2023-11-02,Full Time,Pune,L2,...,Yes,Super-niche,0,V&V Engineer,1050000.0,1825000.0,Embedded AutoSAR developers,1725000.0,NaN,Open
2,3,Take dummy,Take dummy,B.Tech,12.146575,12.146575,2023-10-25,Full Time,Pune,L2.2,...,IP,Super-niche,0,V&V Engineer,1250000.0,2225000.0,System Engineer,2125000.0,NaN,Open
3,4,Take dummy,Take dummy,B.Tech,12.246575,12.246575,2023-10-11,Full Time,Pune,L1.2,...,Yes,Super-niche,0,AUTOSAR,1000000.0,1825000.0,HW Engineer,1725000.0,NaN,Volvo
4,5,Take dummy,Take dummy,B.Tech,18.246575,18.246575,2023-10-27,Full Time,Pune,L2.2,...,Yes,Super-niche,0,Embedded Developer,1800000.0,2225000.0,HW Engineer,2125000.0,NaN,Volvo
5,6,Take dummy,Take dummy,B.Tech,10.746575,10.746575,2023-09-10,Full Time,Pune,L2.1,...,Yes,Super-niche,0,AUTOSAR,2600000.0,3425000.0,MBD,3325000.0,NaN,Volvo
6,7,Take dummy,Take dummy,B.Tech,6.246575,6.246575,2023-12-31,Full Time,Pune,L2.1,...,Yes,Super-niche,0,AUTOSAR,1510000.0,2525000.0,Sr. Embedded Engineer,2425000.0,NaN,Volvo
7,8,Take dummy,Take dummy,B.Tech,4.346575,4.346575,2023-10-21,Full Time,Pune,L3.1,...,IP,Super-niche,0,Project Manager,2800000.0,3725000.0,AUTOSAR Embedded Engineer,3625000.0,NaN,Stellantis
8,9,Take dummy,Take dummy,B.Tech,10.046575,10.046575,2023-10-25,Full Time,Pune,L3,...,Yes,Super-niche,0,Functional Safety,900000.0,3725000.0,AUTOSAR Embedded Engineer,3625000.0,NaN,Open
9,10,Take dummy,Take dummy,B.Tech,6.746575,6.746575,2023-10-22,Full Time,Pune,L2.1,...,Yes,Super-niche,0,V&V Engineer,1400000.0,3025000.0,Technical Project/Program Manager,2925000.0,NaN,Open

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337 entries, 0 to 336
Data columns (total 21 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Sr. No                                      337 non-null    int64
 1   Candidate Name                              337 non-null    object
 2   Email-id                                    337 non-null    object
 3   Highest Qualification                       337 non-null    object
 4   Total Experience (In Years)                 337 non-null    float64
 5   Relevant Experience (In Years)              337 non-null    float64
 6   Date of Joining                             337 non-null    datetime64[ns]
 7   Employment Type                             337 non-null    object
 8   Job Location                                337 non-null    object
 9   Job Level (Grade)                           337 non-null    object
 10  Long Open Position                          329 non-null    object
 11  Billability                                 337 non-null    object
 12  Skill Tagging                               337 non-null    object
 13  Skill Family                                329 non-null    object
 14  Skill Name                                  335 non-null    object
 15  Candidate's Current CTC (Pre TTL Last CTC)  325 non-null    float64
 16  Offer in Hand                               337 non-null    float64
 17  Project Role                                329 non-null    object
 18  Offered CTC                                 337 non-null    float64
 19  Approvals                                   178 non-null    object
 20  Client                                      337 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(1), object(14)
memory usage: 55.4+ KB

In [ ]:
# Optional: Save the updated file
#df.to_excel("Final_Skill_Tagging_Filled.xlsx", index=False)

In [6]:
df['Skill Family'] = df['Skill Family'].fillna('Other')

df.head(10)

,Sr. No,Candidate Name,Email-id,Highest Qualification,Total Experience (In Years),Relevant Experience (In Years),Date of Joining,Employment Type,Job Location,Job Level (Grade),...,Billability,Skill Tagging,Skill Family,Skill Name,Candidate's Current CTC (Pre TTL Last CTC),Offer in Hand,Project Role,Offered CTC,Approvals,Client
0,1,Take dummy,Take dummy,B.Tech,6.446575,6.446575,2023-09-16,Full Time,Pune,L2,...,Yes,Super-niche,0,AUTOSAR,1500000.0,1625000.0,AUTOSAR Engineer,1525000.0,NaN,Open
1,2,Take dummy,Take dummy,B.Tech,7.246575,7.246575,2023-11-02,Full Time,Pune,L2,...,Yes,Super-niche,0,V&V Engineer,1050000.0,1825000.0,Embedded AutoSAR developers,1725000.0,NaN,Open
2,3,Take dummy,Take dummy,B.Tech,12.146575,12.146575,2023-10-25,Full Time,Pune,L2.2,...,IP,Super-niche,0,V&V Engineer,1250000.0,2225000.0,System Engineer,2125000.0,NaN,Open
3,4,Take dummy,Take dummy,B.Tech,12.246575,12.246575,2023-10-11,Full Time,Pune,L1.2,...,Yes,Super-niche,0,AUTOSAR,1000000.0,1825000.0,HW Engineer,1725000.0,NaN,Volvo
4,5,Take dummy,Take dummy,B.Tech,18.246575,18.246575,2023-10-27,Full Time,Pune,L2.2,...,Yes,Super-niche,0,Embedded Developer,1800000.0,2225000.0,HW Engineer,2125000.0,NaN,Volvo
5,6,Take dummy,Take dummy,B.Tech,10.746575,10.746575,2023-09-10,Full Time,Pune,L2.1,...,Yes,Super-niche,0,AUTOSAR,2600000.0,3425000.0,MBD,3325000.0,NaN,Volvo
6,7,Take dummy,Take dummy,B.Tech,6.246575,6.246575,2023-12-31,Full Time,Pune,L2.1,...,Yes,Super-niche,0,AUTOSAR,1510000.0,2525000.0,Sr. Embedded Engineer,2425000.0,NaN,Volvo
7,8,Take dummy,Take dummy,B.Tech,4.346575,4.346575,2023-10-21,Full Time,Pune,L3.1,...,IP,Super-niche,0,Project Manager,2800000.0,3725000.0,AUTOSAR Embedded Engineer,3625000.0,NaN,Stellantis
8,9,Take dummy,Take dummy,B.Tech,10.046575,10.046575,2023-10-25,Full Time,Pune,L3,...,Yes,Super-niche,0,Functional Safety,900000.0,3725000.0,AUTOSAR Embedded Engineer,3625000.0,NaN,Open
9,10,Take dummy,Take dummy,B.Tech,6.746575,6.746575,2023-10-22,Full Time,Pune,L2.1,...,Yes,Super-niche,0,V&V Engineer,1400000.0,3025000.0,Technical Project/Program Manager,2925000.0,NaN,Open

In [7]:
df.head(10)

,Sr. No,Candidate Name,Email-id,Highest Qualification,Total Experience (In Years),Relevant Experience (In Years),Date of Joining,Employment Type,Job Location,Job Level (Grade),...,Billability,Skill Tagging,Skill Family,Skill Name,Candidate's Current CTC (Pre TTL Last CTC),Offer in Hand,Project Role,Offered CTC,Approvals,Client
0,1,Take dummy,Take dummy,B.Tech,6.446575,6.446575,2023-09-16,Full Time,Pune,L2,...,Yes,Super-niche,0,AUTOSAR,1500000.0,1625000.0,AUTOSAR Engineer,1525000.0,NaN,Open
1,2,Take dummy,Take dummy,B.Tech,7.246575,7.246575,2023-11-02,Full Time,Pune,L2,...,Yes,Super-niche,0,V&V Engineer,1050000.0,1825000.0,Embedded AutoSAR developers,1725000.0,NaN,Open
2,3,Take dummy,Take dummy,B.Tech,12.146575,12.146575,2023-10-25,Full Time,Pune,L2.2,...,IP,Super-niche,0,V&V Engineer,1250000.0,2225000.0,System Engineer,2125000.0,NaN,Open
3,4,Take dummy,Take dummy,B.Tech,12.246575,12.246575,2023-10-11,Full Time,Pune,L1.2,...,Yes,Super-niche,0,AUTOSAR,1000000.0,1825000.0,HW Engineer,1725000.0,NaN,Volvo
4,5,Take dummy,Take dummy,B.Tech,18.246575,18.246575,2023-10-27,Full Time,Pune,L2.2,...,Yes,Super-niche,0,Embedded Developer,1800000.0,2225000.0,HW Engineer,2125000.0,NaN,Volvo
5,6,Take dummy,Take dummy,B.Tech,10.746575,10.746575,2023-09-10,Full Time,Pune,L2.1,...,Yes,Super-niche,0,AUTOSAR,2600000.0,3425000.0,MBD,3325000.0,NaN,Volvo
6,7,Take dummy,Take dummy,B.Tech,6.246575,6.246575,2023-12-31,Full Time,Pune,L2.1,...,Yes,Super-niche,0,AUTOSAR,1510000.0,2525000.0,Sr. Embedded Engineer,2425000.0,NaN,Volvo
7,8,Take dummy,Take dummy,B.Tech,4.346575,4.346575,2023-10-21,Full Time,Pune,L3.1,...,IP,Super-niche,0,Project Manager,2800000.0,3725000.0,AUTOSAR Embedded Engineer,3625000.0,NaN,Stellantis
8,9,Take dummy,Take dummy,B.Tech,10.046575,10.046575,2023-10-25,Full Time,Pune,L3,...,Yes,Super-niche,0,Functional Safety,900000.0,3725000.0,AUTOSAR Embedded Engineer,3625000.0,NaN,Open
9,10,Take dummy,Take dummy,B.Tech,6.746575,6.746575,2023-10-22,Full Time,Pune,L2.1,...,Yes,Super-niche,0,V&V Engineer,1400000.0,3025000.0,Technical Project/Program Manager,2925000.0,NaN,Open

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337 entries, 0 to 336
Data columns (total 21 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Sr. No                                      337 non-null    int64
 1   Candidate Name                              337 non-null    object
 2   Email-id                                    337 non-null    object
 3   Highest Qualification                       337 non-null    object
 4   Total Experience (In Years)                 337 non-null    float64
 5   Relevant Experience (In Years)              337 non-null    float64
 6   Date of Joining                             337 non-null    datetime64[ns]
 7   Employment Type                             337 non-null    object
 8   Job Location                                337 non-null    object
 9   Job Level (Grade)                           337 non-null    object
 10  Long Open Position                          329 non-null    object
 11  Billability                                 337 non-null    object
 12  Skill Tagging                               337 non-null    object
 13  Skill Family                                337 non-null    object
 14  Skill Name                                  335 non-null    object
 15  Candidate's Current CTC (Pre TTL Last CTC)  325 non-null    float64
 16  Offer in Hand                               337 non-null    float64
 17  Project Role                                329 non-null    object
 18  Offered CTC                                 337 non-null    float64
 19  Approvals                                   178 non-null    object
 20  Client                                      337 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(1), object(14)
memory usage: 55.4+ KB

In [9]:
df['Skill Name'] = df['Skill Name'].fillna('Other')
df.head(10)

,Sr. No,Candidate Name,Email-id,Highest Qualification,Total Experience (In Years),Relevant Experience (In Years),Date of Joining,Employment Type,Job Location,Job Level (Grade),...,Billability,Skill Tagging,Skill Family,Skill Name,Candidate's Current CTC (Pre TTL Last CTC),Offer in Hand,Project Role,Offered CTC,Approvals,Client
0,1,Take dummy,Take dummy,B.Tech,6.446575,6.446575,2023-09-16,Full Time,Pune,L2,...,Yes,Super-niche,0,AUTOSAR,1500000.0,1625000.0,AUTOSAR Engineer,1525000.0,NaN,Open
1,2,Take dummy,Take dummy,B.Tech,7.246575,7.246575,2023-11-02,Full Time,Pune,L2,...,Yes,Super-niche,0,V&V Engineer,1050000.0,1825000.0,Embedded AutoSAR developers,1725000.0,NaN,Open
2,3,Take dummy,Take dummy,B.Tech,12.146575,12.146575,2023-10-25,Full Time,Pune,L2.2,...,IP,Super-niche,0,V&V Engineer,1250000.0,2225000.0,System Engineer,2125000.0,NaN,Open
3,4,Take dummy,Take dummy,B.Tech,12.246575,12.246575,2023-10-11,Full Time,Pune,L1.2,...,Yes,Super-niche,0,AUTOSAR,1000000.0,1825000.0,HW Engineer,1725000.0,NaN,Volvo
4,5,Take dummy,Take dummy,B.Tech,18.246575,18.246575,2023-10-27,Full Time,Pune,L2.2,...,Yes,Super-niche,0,Embedded Developer,1800000.0,2225000.0,HW Engineer,2125000.0,NaN,Volvo
5,6,Take dummy,Take dummy,B.Tech,10.746575,10.746575,2023-09-10,Full Time,Pune,L2.1,...,Yes,Super-niche,0,AUTOSAR,2600000.0,3425000.0,MBD,3325000.0,NaN,Volvo
6,7,Take dummy,Take dummy,B.Tech,6.246575,6.246575,2023-12-31,Full Time,Pune,L2.1,...,Yes,Super-niche,0,AUTOSAR,1510000.0,2525000.0,Sr. Embedded Engineer,2425000.0,NaN,Volvo
7,8,Take dummy,Take dummy,B.Tech,4.346575,4.346575,2023-10-21,Full Time,Pune,L3.1,...,IP,Super-niche,0,Project Manager,2800000.0,3725000.0,AUTOSAR Embedded Engineer,3625000.0,NaN,Stellantis
8,9,Take dummy,Take dummy,B.Tech,10.046575,10.046575,2023-10-25,Full Time,Pune,L3,...,Yes,Super-niche,0,Functional Safety,900000.0,3725000.0,AUTOSAR Embedded Engineer,3625000.0,NaN,Open
9,10,Take dummy,Take dummy,B.Tech,6.746575,6.746575,2023-10-22,Full Time,Pune,L2.1,...,Yes,Super-niche,0,V&V Engineer,1400000.0,3025000.0,Technical Project/Program Manager,2925000.0,NaN,Open

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337 entries, 0 to 336
Data columns (total 21 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Sr. No                                      337 non-null    int64
 1   Candidate Name                              337 non-null    object
 2   Email-id                                    337 non-null    object
 3   Highest Qualification                       337 non-null    object
 4   Total Experience (In Years)                 337 non-null    float64
 5   Relevant Experience (In Years)              337 non-null    float64
 6   Date of Joining                             337 non-null    datetime64[ns]
 7   Employment Type                             337 non-null    object
 8   Job Location                                337 non-null    object
 9   Job Level (Grade)                           337 non-null    object
 10  Long Open Position                          329 non-null    object
 11  Billability                                 337 non-null    object
 12  Skill Tagging                               337 non-null    object
 13  Skill Family                                337 non-null    object
 14  Skill Name                                  337 non-null    object
 15  Candidate's Current CTC (Pre TTL Last CTC)  325 non-null    float64
 16  Offer in Hand                               337 non-null    float64
 17  Project Role                                329 non-null    object
 18  Offered CTC                                 337 non-null    float64
 19  Approvals                                   178 non-null    object
 20  Client                                      337 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(1), object(14)
memory usage: 55.4+ KB

In [11]:
# Step 1: Compute observed hike % per Skill Tagging group
df['observed_hike_pct'] = (df['Offered CTC'] - df["Candidate's Current CTC (Pre TTL Last CTC)"]) / df["Candidate's Current CTC (Pre TTL Last CTC)"]

# Remove outliers and NaNs
df_filtered = df[
    (df['observed_hike_pct'].notna()) & 
    (df['observed_hike_pct'] > 0) & 
    (df['observed_hike_pct'] < 2)  # Ignore >200% hike as outliers
]

# Calculate median hike % per Skill Tagging group
median_hike_by_tag = df_filtered.groupby('Skill Tagging')['observed_hike_pct'].median().to_dict()

# Step 2: Define adjustment function for missing Current CTCs only
def infer_current_ctc_from_offered(row):
    current = row["Candidate's Current CTC (Pre TTL Last CTC)"]
    offered = row["Offered CTC"]
    skill_tag = row["Skill Tagging"]

    if pd.isna(current) and pd.notna(offered):
        # Use median hike% for this skill tag or fallback
        group_hike = median_hike_by_tag.get(skill_tag, 0.35)  # fallback to 35%
        try:
            return round(offered / (1 + group_hike))
        except ZeroDivisionError:
            return round(offered / 1.35)
    return current  # Leave unchanged if not missing

# Step 3: Apply only on missing values
df["Candidate's Current CTC (Pre TTL Last CTC)"] = df.apply(infer_current_ctc_from_offered, axis=1)

# Cleanup temporary column
df.drop(columns=['observed_hike_pct'], inplace=True)

In [12]:
df.head(10)

,Sr. No,Candidate Name,Email-id,Highest Qualification,Total Experience (In Years),Relevant Experience (In Years),Date of Joining,Employment Type,Job Location,Job Level (Grade),...,Billability,Skill Tagging,Skill Family,Skill Name,Candidate's Current CTC (Pre TTL Last CTC),Offer in Hand,Project Role,Offered CTC,Approvals,Client
0,1,Take dummy,Take dummy,B.Tech,6.446575,6.446575,2023-09-16,Full Time,Pune,L2,...,Yes,Super-niche,0,AUTOSAR,1500000.0,1625000.0,AUTOSAR Engineer,1525000.0,NaN,Open
1,2,Take dummy,Take dummy,B.Tech,7.246575,7.246575,2023-11-02,Full Time,Pune,L2,...,Yes,Super-niche,0,V&V Engineer,1050000.0,1825000.0,Embedded AutoSAR developers,1725000.0,NaN,Open
2,3,Take dummy,Take dummy,B.Tech,12.146575,12.146575,2023-10-25,Full Time,Pune,L2.2,...,IP,Super-niche,0,V&V Engineer,1250000.0,2225000.0,System Engineer,2125000.0,NaN,Open
3,4,Take dummy,Take dummy,B.Tech,12.246575,12.246575,2023-10-11,Full Time,Pune,L1.2,...,Yes,Super-niche,0,AUTOSAR,1000000.0,1825000.0,HW Engineer,1725000.0,NaN,Volvo
4,5,Take dummy,Take dummy,B.Tech,18.246575,18.246575,2023-10-27,Full Time,Pune,L2.2,...,Yes,Super-niche,0,Embedded Developer,1800000.0,2225000.0,HW Engineer,2125000.0,NaN,Volvo
5,6,Take dummy,Take dummy,B.Tech,10.746575,10.746575,2023-09-10,Full Time,Pune,L2.1,...,Yes,Super-niche,0,AUTOSAR,2600000.0,3425000.0,MBD,3325000.0,NaN,Volvo
6,7,Take dummy,Take dummy,B.Tech,6.246575,6.246575,2023-12-31,Full Time,Pune,L2.1,...,Yes,Super-niche,0,AUTOSAR,1510000.0,2525000.0,Sr. Embedded Engineer,2425000.0,NaN,Volvo
7,8,Take dummy,Take dummy,B.Tech,4.346575,4.346575,2023-10-21,Full Time,Pune,L3.1,...,IP,Super-niche,0,Project Manager,2800000.0,3725000.0,AUTOSAR Embedded Engineer,3625000.0,NaN,Stellantis
8,9,Take dummy,Take dummy,B.Tech,10.046575,10.046575,2023-10-25,Full Time,Pune,L3,...,Yes,Super-niche,0,Functional Safety,900000.0,3725000.0,AUTOSAR Embedded Engineer,3625000.0,NaN,Open
9,10,Take dummy,Take dummy,B.Tech,6.746575,6.746575,2023-10-22,Full Time,Pune,L2.1,...,Yes,Super-niche,0,V&V Engineer,1400000.0,3025000.0,Technical Project/Program Manager,2925000.0,NaN,Open

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337 entries, 0 to 336
Data columns (total 21 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Sr. No                                      337 non-null    int64
 1   Candidate Name                              337 non-null    object
 2   Email-id                                    337 non-null    object
 3   Highest Qualification                       337 non-null    object
 4   Total Experience (In Years)                 337 non-null    float64
 5   Relevant Experience (In Years)              337 non-null    float64
 6   Date of Joining                             337 non-null    datetime64[ns]
 7   Employment Type                             337 non-null    object
 8   Job Location                                337 non-null    object
 9   Job Level (Grade)                           337 non-null    object
 10  Long Open Position                          329 non-null    object
 11  Billability                                 337 non-null    object
 12  Skill Tagging                               337 non-null    object
 13  Skill Family                                337 non-null    object
 14  Skill Name                                  337 non-null    object
 15  Candidate's Current CTC (Pre TTL Last CTC)  337 non-null    float64
 16  Offer in Hand                               337 non-null    float64
 17  Project Role                                329 non-null    object
 18  Offered CTC                                 337 non-null    float64
 19  Approvals                                   178 non-null    object
 20  Client                                      337 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(1), object(14)
memory usage: 55.4+ KB

In [14]:
## Project Role

df['Project Role'] = df['Project Role'].fillna('Other')
df.head(10)

,Sr. No,Candidate Name,Email-id,Highest Qualification,Total Experience (In Years),Relevant Experience (In Years),Date of Joining,Employment Type,Job Location,Job Level (Grade),...,Billability,Skill Tagging,Skill Family,Skill Name,Candidate's Current CTC (Pre TTL Last CTC),Offer in Hand,Project Role,Offered CTC,Approvals,Client
0,1,Take dummy,Take dummy,B.Tech,6.446575,6.446575,2023-09-16,Full Time,Pune,L2,...,Yes,Super-niche,0,AUTOSAR,1500000.0,1625000.0,AUTOSAR Engineer,1525000.0,NaN,Open
1,2,Take dummy,Take dummy,B.Tech,7.246575,7.246575,2023-11-02,Full Time,Pune,L2,...,Yes,Super-niche,0,V&V Engineer,1050000.0,1825000.0,Embedded AutoSAR developers,1725000.0,NaN,Open
2,3,Take dummy,Take dummy,B.Tech,12.146575,12.146575,2023-10-25,Full Time,Pune,L2.2,...,IP,Super-niche,0,V&V Engineer,1250000.0,2225000.0,System Engineer,2125000.0,NaN,Open
3,4,Take dummy,Take dummy,B.Tech,12.246575,12.246575,2023-10-11,Full Time,Pune,L1.2,...,Yes,Super-niche,0,AUTOSAR,1000000.0,1825000.0,HW Engineer,1725000.0,NaN,Volvo
4,5,Take dummy,Take dummy,B.Tech,18.246575,18.246575,2023-10-27,Full Time,Pune,L2.2,...,Yes,Super-niche,0,Embedded Developer,1800000.0,2225000.0,HW Engineer,2125000.0,NaN,Volvo
5,6,Take dummy,Take dummy,B.Tech,10.746575,10.746575,2023-09-10,Full Time,Pune,L2.1,...,Yes,Super-niche,0,AUTOSAR,2600000.0,3425000.0,MBD,3325000.0,NaN,Volvo
6,7,Take dummy,Take dummy,B.Tech,6.246575,6.246575,2023-12-31,Full Time,Pune,L2.1,...,Yes,Super-niche,0,AUTOSAR,1510000.0,2525000.0,Sr. Embedded Engineer,2425000.0,NaN,Volvo
7,8,Take dummy,Take dummy,B.Tech,4.346575,4.346575,2023-10-21,Full Time,Pune,L3.1,...,IP,Super-niche,0,Project Manager,2800000.0,3725000.0,AUTOSAR Embedded Engineer,3625000.0,NaN,Stellantis
8,9,Take dummy,Take dummy,B.Tech,10.046575,10.046575,2023-10-25,Full Time,Pune,L3,...,Yes,Super-niche,0,Functional Safety,900000.0,3725000.0,AUTOSAR Embedded Engineer,3625000.0,NaN,Open
9,10,Take dummy,Take dummy,B.Tech,6.746575,6.746575,2023-10-22,Full Time,Pune,L2.1,...,Yes,Super-niche,0,V&V Engineer,1400000.0,3025000.0,Technical Project/Program Manager,2925000.0,NaN,Open

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337 entries, 0 to 336
Data columns (total 21 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Sr. No                                      337 non-null    int64
 1   Candidate Name                              337 non-null    object
 2   Email-id                                    337 non-null    object
 3   Highest Qualification                       337 non-null    object
 4   Total Experience (In Years)                 337 non-null    float64
 5   Relevant Experience (In Years)              337 non-null    float64
 6   Date of Joining                             337 non-null    datetime64[ns]
 7   Employment Type                             337 non-null    object
 8   Job Location                                337 non-null    object
 9   Job Level (Grade)                           337 non-null    object
 10  Long Open Position                          329 non-null    object
 11  Billability                                 337 non-null    object
 12  Skill Tagging                               337 non-null    object
 13  Skill Family                                337 non-null    object
 14  Skill Name                                  337 non-null    object
 15  Candidate's Current CTC (Pre TTL Last CTC)  337 non-null    float64
 16  Offer in Hand                               337 non-null    float64
 17  Project Role                                337 non-null    object
 18  Offered CTC                                 337 non-null    float64
 19  Approvals                                   178 non-null    object
 20  Client                                      337 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(1), object(14)
memory usage: 55.4+ KB

In [16]:
def parse_year_month(value):
    year = int(value)
    month_fraction = value - year
    month = int(round(month_fraction * 10))  # Because .4 means 4 months
    return year, month

def to_year_month(year, month):
    # Cap months between 0â€“11
    if month < 0:
        year -= 1
        month += 12
    elif month > 11:
        year += month // 12
        month = month % 12
    return round(year + (month / 10), 1)

In [17]:
def adjust_relevant_experience(df):
    df = df.copy()
    total_exp_col = 'Total Experience (In Years)'
    relevant_exp_col = 'Relevant Experience (In Years)'

    # Shuffle for reproducible randomness
    shuffled = df.sample(frac=1, random_state=42)

    total_rows = len(df)
    n_25 = int(total_rows * 0.25)
    n_50 = int(total_rows * 0.5)

    indices_25 = shuffled.index[:n_25]
    indices_50 = shuffled.index[n_25:n_25 + n_50]
    indices_rest = shuffled.index[n_25 + n_50:]

    for idx in indices_25:
        y, m = parse_year_month(df.at[idx, total_exp_col])
        y -= 1
        df.at[idx, relevant_exp_col] = to_year_month(y, m)

    for idx in indices_50:
        df.at[idx, relevant_exp_col] = df.at[idx, total_exp_col]

    for idx in indices_rest:
        y, m = parse_year_month(df.at[idx, total_exp_col])
        y -= 1
        m -= 6  # 1.5 years = 1 year and 6 months
        df.at[idx, relevant_exp_col] = to_year_month(y, m)

    return df

In [18]:
df = adjust_relevant_experience(df)
df.head(10)

,Sr. No,Candidate Name,Email-id,Highest Qualification,Total Experience (In Years),Relevant Experience (In Years),Date of Joining,Employment Type,Job Location,Job Level (Grade),...,Billability,Skill Tagging,Skill Family,Skill Name,Candidate's Current CTC (Pre TTL Last CTC),Offer in Hand,Project Role,Offered CTC,Approvals,Client
0,1,Take dummy,Take dummy,B.Tech,6.446575,6.446575,2023-09-16,Full Time,Pune,L2,...,Yes,Super-niche,0,AUTOSAR,1500000.0,1625000.0,AUTOSAR Engineer,1525000.0,NaN,Open
1,2,Take dummy,Take dummy,B.Tech,7.246575,5.800000,2023-11-02,Full Time,Pune,L2,...,Yes,Super-niche,0,V&V Engineer,1050000.0,1825000.0,Embedded AutoSAR developers,1725000.0,NaN,Open
2,3,Take dummy,Take dummy,B.Tech,12.146575,12.146575,2023-10-25,Full Time,Pune,L2.2,...,IP,Super-niche,0,V&V Engineer,1250000.0,2225000.0,System Engineer,2125000.0,NaN,Open
3,4,Take dummy,Take dummy,B.Tech,12.246575,11.200000,2023-10-11,Full Time,Pune,L1.2,...,Yes,Super-niche,0,AUTOSAR,1000000.0,1825000.0,HW Engineer,1725000.0,NaN,Volvo
4,5,Take dummy,Take dummy,B.Tech,18.246575,18.246575,2023-10-27,Full Time,Pune,L2.2,...,Yes,Super-niche,0,Embedded Developer,1800000.0,2225000.0,HW Engineer,2125000.0,NaN,Volvo
5,6,Take dummy,Take dummy,B.Tech,10.746575,9.700000,2023-09-10,Full Time,Pune,L2.1,...,Yes,Super-niche,0,AUTOSAR,2600000.0,3425000.0,MBD,3325000.0,NaN,Volvo
6,7,Take dummy,Take dummy,B.Tech,6.246575,6.246575,2023-12-31,Full Time,Pune,L2.1,...,Yes,Super-niche,0,AUTOSAR,1510000.0,2525000.0,Sr. Embedded Engineer,2425000.0,NaN,Volvo
7,8,Take dummy,Take dummy,B.Tech,4.346575,3.300000,2023-10-21,Full Time,Pune,L3.1,...,IP,Super-niche,0,Project Manager,2800000.0,3725000.0,AUTOSAR Embedded Engineer,3625000.0,NaN,Stellantis
8,9,Take dummy,Take dummy,B.Tech,10.046575,8.600000,2023-10-25,Full Time,Pune,L3,...,Yes,Super-niche,0,Functional Safety,900000.0,3725000.0,AUTOSAR Embedded Engineer,3625000.0,NaN,Open
9,10,Take dummy,Take dummy,B.Tech,6.746575,5.700000,2023-10-22,Full Time,Pune,L2.1,...,Yes,Super-niche,0,V&V Engineer,1400000.0,3025000.0,Technical Project/Program Manager,2925000.0,NaN,Open

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337 entries, 0 to 336
Data columns (total 21 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Sr. No                                      337 non-null    int64
 1   Candidate Name                              337 non-null    object
 2   Email-id                                    337 non-null    object
 3   Highest Qualification                       337 non-null    object
 4   Total Experience (In Years)                 337 non-null    float64
 5   Relevant Experience (In Years)              337 non-null    float64
 6   Date of Joining                             337 non-null    datetime64[ns]
 7   Employment Type                             337 non-null    object
 8   Job Location                                337 non-null    object
 9   Job Level (Grade)                           337 non-null    object
 10  Long Open Position                          329 non-null    object
 11  Billability                                 337 non-null    object
 12  Skill Tagging                               337 non-null    object
 13  Skill Family                                337 non-null    object
 14  Skill Name                                  337 non-null    object
 15  Candidate's Current CTC (Pre TTL Last CTC)  337 non-null    float64
 16  Offer in Hand                               337 non-null    float64
 17  Project Role                                337 non-null    object
 18  Offered CTC                                 337 non-null    float64
 19  Approvals                                   178 non-null    object
 20  Client                                      337 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(1), object(14)
memory usage: 55.4+ KB

In [20]:
# Ensure both columns are datetime
df['Date of Joining'] = pd.to_datetime(df['Date of Joining'], errors='coerce')
df['Long Open Position'] = pd.to_datetime(df['Long Open Position'], errors='coerce')

# Replace old values with Yes/No depending on month difference
df['Long Open Position'] = df.apply(
    lambda row: 'Yes' if pd.notnull(row['Date of Joining']) and pd.notnull(row['Long Open Position']) and 
                      ((row['Date of Joining'].year - row['Long Open Position'].year) * 12 + 
                       (row['Date of Joining'].month - row['Long Open Position'].month)) > 6 
                else 'No',
    axis=1
)

In [21]:
df.head(10)

,Sr. No,Candidate Name,Email-id,Highest Qualification,Total Experience (In Years),Relevant Experience (In Years),Date of Joining,Employment Type,Job Location,Job Level (Grade),...,Billability,Skill Tagging,Skill Family,Skill Name,Candidate's Current CTC (Pre TTL Last CTC),Offer in Hand,Project Role,Offered CTC,Approvals,Client
0,1,Take dummy,Take dummy,B.Tech,6.446575,6.446575,2023-09-16,Full Time,Pune,L2,...,Yes,Super-niche,0,AUTOSAR,1500000.0,1625000.0,AUTOSAR Engineer,1525000.0,NaN,Open
1,2,Take dummy,Take dummy,B.Tech,7.246575,5.800000,2023-11-02,Full Time,Pune,L2,...,Yes,Super-niche,0,V&V Engineer,1050000.0,1825000.0,Embedded AutoSAR developers,1725000.0,NaN,Open
2,3,Take dummy,Take dummy,B.Tech,12.146575,12.146575,2023-10-25,Full Time,Pune,L2.2,...,IP,Super-niche,0,V&V Engineer,1250000.0,2225000.0,System Engineer,2125000.0,NaN,Open
3,4,Take dummy,Take dummy,B.Tech,12.246575,11.200000,2023-10-11,Full Time,Pune,L1.2,...,Yes,Super-niche,0,AUTOSAR,1000000.0,1825000.0,HW Engineer,1725000.0,NaN,Volvo
4,5,Take dummy,Take dummy,B.Tech,18.246575,18.246575,2023-10-27,Full Time,Pune,L2.2,...,Yes,Super-niche,0,Embedded Developer,1800000.0,2225000.0,HW Engineer,2125000.0,NaN,Volvo
5,6,Take dummy,Take dummy,B.Tech,10.746575,9.700000,2023-09-10,Full Time,Pune,L2.1,...,Yes,Super-niche,0,AUTOSAR,2600000.0,3425000.0,MBD,3325000.0,NaN,Volvo
6,7,Take dummy,Take dummy,B.Tech,6.246575,6.246575,2023-12-31,Full Time,Pune,L2.1,...,Yes,Super-niche,0,AUTOSAR,1510000.0,2525000.0,Sr. Embedded Engineer,2425000.0,NaN,Volvo
7,8,Take dummy,Take dummy,B.Tech,4.346575,3.300000,2023-10-21,Full Time,Pune,L3.1,...,IP,Super-niche,0,Project Manager,2800000.0,3725000.0,AUTOSAR Embedded Engineer,3625000.0,NaN,Stellantis
8,9,Take dummy,Take dummy,B.Tech,10.046575,8.600000,2023-10-25,Full Time,Pune,L3,...,Yes,Super-niche,0,Functional Safety,900000.0,3725000.0,AUTOSAR Embedded Engineer,3625000.0,NaN,Open
9,10,Take dummy,Take dummy,B.Tech,6.746575,5.700000,2023-10-22,Full Time,Pune,L2.1,...,Yes,Super-niche,0,V&V Engineer,1400000.0,3025000.0,Technical Project/Program Manager,2925000.0,NaN,Open

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337 entries, 0 to 336
Data columns (total 21 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Sr. No                                      337 non-null    int64
 1   Candidate Name                              337 non-null    object
 2   Email-id                                    337 non-null    object
 3   Highest Qualification                       337 non-null    object
 4   Total Experience (In Years)                 337 non-null    float64
 5   Relevant Experience (In Years)              337 non-null    float64
 6   Date of Joining                             337 non-null    datetime64[ns]
 7   Employment Type                             337 non-null    object
 8   Job Location                                337 non-null    object
 9   Job Level (Grade)                           337 non-null    object
 10  Long Open Position                          337 non-null    object
 11  Billability                                 337 non-null    object
 12  Skill Tagging                               337 non-null    object
 13  Skill Family                                337 non-null    object
 14  Skill Name                                  337 non-null    object
 15  Candidate's Current CTC (Pre TTL Last CTC)  337 non-null    float64
 16  Offer in Hand                               337 non-null    float64
 17  Project Role                                337 non-null    object
 18  Offered CTC                                 337 non-null    float64
 19  Approvals                                   178 non-null    object
 20  Client                                      337 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(1), object(14)
memory usage: 55.4+ KB

In [ ]:
## Total and Relevant Experinece - both are same
## Long Open Position- It's a date
## remaining column some assumptions are made

In [23]:
# Optional: Save the updated file with approvals
df.to_excel("Final_imputed_Filled.xlsx", index=False)

## Optional

In [63]:
import numpy as np

In [64]:
# Identify rows with missing Offer in Hand
missing_offer_mask = df['Offer in Hand'].isna()

# Split the missing rows into 50% zeros and 50% filled with computed values
missing_indices = df[missing_offer_mask].index
n_missing = len(missing_indices)
n_zero = n_missing // 2
n_fill = n_missing - n_zero  # remainder goes to filled

# Randomly shuffle indices to avoid any bias
np.random.seed(42)  # reproducibility
shuffled_indices = np.random.permutation(missing_indices)

# 1. Fill first half with 0
zero_indices = shuffled_indices[:n_zero]
df.loc[zero_indices, 'Offer in Hand'] = 0

# 2. Fill second half with computed values
fill_indices = shuffled_indices[n_zero:]

def generate_offer_in_hand(row):
    current = row["Candidate's Current CTC (Pre TTL Last CTC)"]
    offered = row["Offered CTC"]
    
    if pd.notna(current) and pd.notna(offered):
        low = current * 1.10  # 10% above current CTC
        high = offered * 0.95  # 5% below offered CTC
        
        if low < high:
            return round(np.random.uniform(low, high))
        else:
            return round((current + offered) / 2)  # fallback to mean if range is narrow
    return 0  # fallback if values are NaN

In [65]:
# Apply logic to fill these indices
df.loc[fill_indices, 'Offer in Hand'] = df.loc[fill_indices].apply(generate_offer_in_hand, axis=1)

df.head(10)

,Sr. No,Candidate Name,Email-id,Highest Qualification,Total Experience,Relevant Experience,Date of Joining,Employment Type,Job Location,Job Level (Grade),...,Billability,Skill Tagging,Skill Family,Skill Name,Candidate's Current CTC (Pre TTL Last CTC),Offer in Hand,Project Role,Offered CTC,Approvals,Client
0,1,Take dummy,Take dummy,B.Tech,6.446575,6.446575,2023-09-16,Full Time,Pune,L2,...,Yes,Super-niche,Advanced Embedded,Embedded Architect,1051724.0,1367747.0,AUTOSAR Engineer,1525000.0,NaN,Open
1,2,Take dummy,Take dummy,B.Tech,7.246575,7.246575,2023-11-02,Full Time,Pune,L2,...,Yes,Super-niche,Advanced Embedded,Embedded Architect,1189655.0,1562818.0,Embedded AutoSAR developers,1725000.0,NaN,Open
2,3,Take dummy,Take dummy,B.Tech,12.146575,12.146575,2023-10-25,Full Time,Pune,L2.2,...,IP,Super-niche,Advanced Embedded,Embedded Architect,1465517.0,0.0,System Engineer,2125000.0,NaN,Open
3,4,Take dummy,Take dummy,B.Tech,12.246575,12.246575,2023-10-11,Full Time,Pune,L1.2,...,Yes,Super-niche,Advanced Embedded,Embedded Architect,1189655.0,1580185.0,HW Engineer,1725000.0,NaN,Volvo
4,5,Take dummy,Take dummy,B.Tech,18.246575,18.246575,2023-10-27,Full Time,Pune,L2.2,...,Yes,Super-niche,Advanced Embedded,Embedded Architect,1465517.0,1958210.0,HW Engineer,2125000.0,NaN,Volvo
5,6,Take dummy,Take dummy,B.Tech,10.746575,10.746575,2023-09-10,Full Time,Pune,L2.1,...,Yes,Super-niche,Advanced Embedded,Embedded Architect,2125000.0,0.0,MBD,3325000.0,NaN,Volvo
6,7,Take dummy,Take dummy,B.Tech,6.246575,6.246575,2023-12-31,Full Time,Pune,L2.1,...,Yes,Super-niche,Advanced Embedded,Embedded Architect,2125000.0,0.0,Sr. Embedded Engineer,2425000.0,NaN,Volvo
7,8,Take dummy,Take dummy,B.Tech,4.346575,4.346575,2023-10-21,Full Time,Pune,L3.1,...,IP,Super-niche,Advanced Embedded,Embedded Architect,2125000.0,3417036.0,AUTOSAR Embedded Engineer,3625000.0,NaN,Stellantis
8,9,Take dummy,Take dummy,B.Tech,10.046575,10.046575,2023-10-25,Full Time,Pune,L3,...,Yes,Super-niche,Advanced Embedded,Embedded Architect,2125000.0,3402430.0,AUTOSAR Embedded Engineer,3625000.0,NaN,Open
9,10,Take dummy,Take dummy,B.Tech,6.746575,6.746575,2023-10-22,Full Time,Pune,L2.1,...,Yes,Super-niche,Advanced Embedded,Embedded Architect,2125000.0,0.0,Technical Project/Program Manager,2925000.0,NaN,Open

In [66]:
def determine_approval(offered_ctc):
    if pd.isna(offered_ctc):
        return None
    elif offered_ctc >= 2500000:
        return "Global Approval"
    elif offered_ctc >= 1500000:
        return "Local Approval"
    else:
        return "No Approval"

df['Approvals'] = df['Offered CTC'].apply(determine_approval)

In [67]:
df.head(10)

,Sr. No,Candidate Name,Email-id,Highest Qualification,Total Experience,Relevant Experience,Date of Joining,Employment Type,Job Location,Job Level (Grade),...,Billability,Skill Tagging,Skill Family,Skill Name,Candidate's Current CTC (Pre TTL Last CTC),Offer in Hand,Project Role,Offered CTC,Approvals,Client
0,1,Take dummy,Take dummy,B.Tech,6.446575,6.446575,2023-09-16,Full Time,Pune,L2,...,Yes,Super-niche,Advanced Embedded,Embedded Architect,1051724.0,1367747.0,AUTOSAR Engineer,1525000.0,Local Approval,Open
1,2,Take dummy,Take dummy,B.Tech,7.246575,7.246575,2023-11-02,Full Time,Pune,L2,...,Yes,Super-niche,Advanced Embedded,Embedded Architect,1189655.0,1562818.0,Embedded AutoSAR developers,1725000.0,Local Approval,Open
2,3,Take dummy,Take dummy,B.Tech,12.146575,12.146575,2023-10-25,Full Time,Pune,L2.2,...,IP,Super-niche,Advanced Embedded,Embedded Architect,1465517.0,0.0,System Engineer,2125000.0,Local Approval,Open
3,4,Take dummy,Take dummy,B.Tech,12.246575,12.246575,2023-10-11,Full Time,Pune,L1.2,...,Yes,Super-niche,Advanced Embedded,Embedded Architect,1189655.0,1580185.0,HW Engineer,1725000.0,Local Approval,Volvo
4,5,Take dummy,Take dummy,B.Tech,18.246575,18.246575,2023-10-27,Full Time,Pune,L2.2,...,Yes,Super-niche,Advanced Embedded,Embedded Architect,1465517.0,1958210.0,HW Engineer,2125000.0,Local Approval,Volvo
5,6,Take dummy,Take dummy,B.Tech,10.746575,10.746575,2023-09-10,Full Time,Pune,L2.1,...,Yes,Super-niche,Advanced Embedded,Embedded Architect,2125000.0,0.0,MBD,3325000.0,Global Approval,Volvo
6,7,Take dummy,Take dummy,B.Tech,6.246575,6.246575,2023-12-31,Full Time,Pune,L2.1,...,Yes,Super-niche,Advanced Embedded,Embedded Architect,2125000.0,0.0,Sr. Embedded Engineer,2425000.0,Local Approval,Volvo
7,8,Take dummy,Take dummy,B.Tech,4.346575,4.346575,2023-10-21,Full Time,Pune,L3.1,...,IP,Super-niche,Advanced Embedded,Embedded Architect,2125000.0,3417036.0,AUTOSAR Embedded Engineer,3625000.0,Global Approval,Stellantis
8,9,Take dummy,Take dummy,B.Tech,10.046575,10.046575,2023-10-25,Full Time,Pune,L3,...,Yes,Super-niche,Advanced Embedded,Embedded Architect,2125000.0,3402430.0,AUTOSAR Embedded Engineer,3625000.0,Global Approval,Open
9,10,Take dummy,Take dummy,B.Tech,6.746575,6.746575,2023-10-22,Full Time,Pune,L2.1,...,Yes,Super-niche,Advanced Embedded,Embedded Architect,2125000.0,0.0,Technical Project/Program Manager,2925000.0,Global Approval,Open

In [68]:
# Optional: Save the updated file with approvals
df.to_excel("Final_imputed_Filled.xlsx", index=False)